*.log
*.pot
*.pyc
*.pyo
__pycache__/

db.sqlite3
.env
.coverage
.venv/
venv/

.idea/
.vscode/
.DS_Store
*.swp

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars
